.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
  cursor: pointer; 
}

.menu-list {
  display: flex;
  list-style-type: none;

}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.input-area {
  padding: 20px;
}

.input-area input {
  font-size: 15px;
  color: #222222;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  z-index: 5;
}

.product-card {
  transition: transform 0.3s ease;
  margin: 10px;
  border: 10px solid white;
}

.product-card:hover {
  transform: scale(1.04);
}

.product-card img{
  width: 250px;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}